body {
    display: flex;
    flex-direction: row;
}

#left-side {
    margin-left: 0;
    margin-right: auto;
    width: 50%;
}

#right-side {
    margin-left: auto;
    margin-right: 0;
    width: 50%;
}

#chooseDate {
    font-size: 24px;
}

td.selected {
    background-color: red;

}

.note {
    background-color: blue;
}

#main-header {

    display: flex;
    flex-direction: row;
}

#monthAndYear {}

#checkView {
    margin-left: auto;
    margin-right: 0
}

#table-head {
    width: 100%
}

td {
    padding: 5px;
    cursor: pointer;
    cursor: hand;
    border: 1px solid #CCCCCC;
}

#listaZadan {
    font-size: 12px;
}